#icon {
    height: 62px;
    size: 62px;
    padding-left: 20px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgba(189, 2, 2, 0.863);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(206, 1, 1, 0.692);
}
#links{
    padding-right: 20px;
}
#noticias{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0px;
    flex-wrap: wrap;
}
.noticia {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.548);
    border: 4px solid black;
    border-radius: 10px;
}

.img_noticia{
    height: 300px;
    size: 200px;
}
p{
    padding: 5px;
}
.escalacao{
        background-color: rgba(206, 1, 1, 0.692);

        padding: 30px 20px 50px 20px;
        text-align: center;
        color: black;
    }
 
    
    h2 {
        margin-bottom: 40px;
        font-size: 28px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .jogadores {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
    }

    .jogador {
        width: 120px;
        text-align: center;
    }

    .jogador img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .jogador p {
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }
    footer{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }